<ol class="relative border-s border-gray-200 dark:border-gray-700">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >Octubre 2021 - Actualidad</time
    >
    <h3 class="text-lg font-semibold text-gray-200 dark:text-white">
      Analista / Desarrollador Full stack en Hiberus
    </h3>
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      Creación y mantenimiento de un multisite de mas de 15 portales.
    </p>
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      Desarrollo de un módulo personalizado para la gestion de eventos, artistas y tickets.
    </p>
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      Creación de una API para exponer bloques al resto de portales.
    </p>
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      Migración de un tipo de contenido que incluye medias y taxonomias.
    </p>
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      Desarrollo de un tema personalizado, creando y maquetando bloques genéricos con sus modos de vistas, para crear distintas landings con layout builder.
    </p>
  </li>
    <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >Septiembre 2017 - Jul 2021</time
    >
    <h3 class="text-lg font-semibold text-gray-200 dark:text-white">
      Grado en Ingeniería Informática en la Universidad de La Rioja 
    </h3>
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      TFG: Desarrollo de un módulo de compilación incremental de sitios estáticos en Drupal y GatsbyJS.
    </p>
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      Prácticas: Formación en otras tecnologías como .NET.
    </p>
  </li>
</ol>
