<div class="flex items-center justify-around flex-row">
  <a
    href="https://www.drupal.org/u/fruizalejos"
    class="inline-flex items-center justify-center w-12 h-12 me-2 text-sm font-semibold rounded-full border-white border"
  >
    <svg
      fill="#ffffff"
      width="24px"
      height="24px"
      viewBox="0 0 32 32"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>drupal</title>
      <path
        d="M23.545 21.683c-0.085 0.187-0.278 0.497-0.538 0.505-0.463 0.017-0.513-0.221-0.856-0.728-0.754-1.113-7.318-7.974-8.546-9.303-1.081-1.167-0.152-1.99 0.278-2.421 0.539-0.542 2.117-2.117 2.117-2.117 2.409 2.273 4.593 4.727 6.553 7.359l0.106 0.149c0.829 1.138 1.327 2.564 1.327 4.107 0 0.879-0.162 1.721-0.457 2.497l0.016-0.048zM16 28.076c0 0 0 0-0 0-2.177 0-3.941-1.764-3.941-3.941 0-0 0-0.001 0-0.001v0c0.015-0.998 0.384-1.907 0.987-2.61l-0.005 0.006c0.711-0.869 2.958-3.313 2.958-3.313s2.214 2.481 2.954 3.306c0.613 0.68 0.988 1.585 0.988 2.578 0 0.012-0 0.024-0 0.036v-0.002c0 0 0 0.001 0 0.001 0 2.177-1.764 3.941-3.941 3.941 0 0 0 0-0 0v0zM9.411 22.182c-0.703-0.024-3.295-4.493 1.516-9.255l3.182 3.479c0.050 0.049 0.081 0.118 0.081 0.194 0 0.085-0.039 0.161-0.101 0.211l-0.001 0c-1.627 1.531-3.075 3.217-4.333 5.044l-0.068 0.105c-0.082 0.232-0.205 0.225-0.277 0.221zM20.717 7.405c-2.045-1.686-3.653-3.828-4.68-6.274l-0.040-0.107c-1.065 2.553-2.671 4.695-4.687 6.359l-0.027 0.022c-3.162 3.157-6.745 6.739-6.745 12.107 0 0.005 0 0.010 0 0.015 0 6.33 5.131 11.461 11.461 11.461s11.461-5.131 11.461-11.461c0-0.005 0-0.011 0-0.016v0.001c0-5.37-3.583-8.949-6.745-12.107z"
      ></path>
    </svg>
  </a>
  <a
    href="https://es.linkedin.com/in/francisco-ruiz-alejos-ayora-2a4141216"
    class="inline-flex items-center justify-center w-12 h-12 me-2 text-sm font-semibold rounded-full border-white border"
  >
    <svg
      class="w-6 h-6 text-gray-300 dark:text-white items-center text-center"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 15 15"
    >
      <path
        fill-rule="evenodd"
        d="M7.979 5v1.586a3.5 3.5 0 0 1 3.082-1.574C14.3 5.012 15 7.03 15 9.655V15h-3v-4.738c0-1.13-.229-2.584-1.995-2.584-1.713 0-2.005 1.23-2.005 2.5V15H5.009V5h2.97ZM3 2.487a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"
        clip-rule="evenodd"></path>
      <path d="M3 5.012H0V15h3V5.012Z"></path>
    </svg>
  </a>
  <a
    href="https://github.com/fruizalejos"
    class="inline-flex items-center justify-center w-12 h-12 me-2 text-sm font-semibold rounded-full border-white border"
  >
    <svg
      class="w-6 h-6 text-gray-300 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        fill-rule="evenodd"
        d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
        clip-rule="evenodd"></path>
    </svg>
  </a>
  <a
    href="mailto:franciscoruizalejos@gmail.com"
    class="inline-flex items-center justify-center w-12 h-12 me-2 text-sm font-semibold rounded-full border-white border"
  >
    <svg
      width="24px"
      height="24px"
      viewBox="0 0 192 192"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      ><path
        stroke="#ffffff"
        stroke-linejoin="round"
        stroke-width="12"
        d="M22 57.265V142c0 5.523 4.477 10 10 10h24V95.056l40 30.278 40-30.278V152h24c5.523 0 10-4.477 10-10V57.265c0-13.233-15.15-20.746-25.684-12.736L96 81.265 47.684 44.53C37.15 36.519 22 44.032 22 57.265Z"
      ></path></svg
    >
  </a>
</div>
