<div class="flex justify-between my-2">
  <span class="text-base font-medium dark:text-white text-gray-200">Drupal</span>
  <span class="text-sm font-medium dark:text-white text-gray-200">80%</span>
</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
  <div class="bg-blue-500 h-2.5 rounded-full" style="width: 80%"></div>
</div>
<div class="flex justify-between my-2">
  <span class="text-base font-medium dark:text-white text-gray-200">HTML</span>
  <span class="text-sm font-medium dark:text-white text-gray-200">75%</span>
</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
  <div class="bg-blue-500 h-2.5 rounded-full" style="width: 75%"></div>
</div>
<div class="flex justify-between my-2">
  <span class="text-base font-medium dark:text-white text-gray-200">PHP</span>
  <span class="text-sm font-medium dark:text-white text-gray-200">70%</span>
</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
  <div class="bg-blue-500 h-2.5 rounded-full" style="width: 70%"></div>
</div>
<div class="flex justify-between my-2">
  <span class="text-base font-medium dark:text-white text-gray-200">CSS</span>
  <span class="text-sm font-medium dark:text-white text-gray-200">60%</span>
</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 mt-3">
  <div class="bg-blue-500 h-2.5 rounded-full" style="width: 60%"></div>
</div>

<div class="flex justify-between my-2">
  <span class="text-base font-medium dark:text-white text-gray-200">JS</span>
  <span class="text-sm font-medium dark:text-white text-gray-200">60%</span>
</div>
<div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
  <div class="bg-blue-500 h-2.5 rounded-full" style="width: 60%"></div>
</div>