---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portafolio de Francisco Ruiz-Alejos, Analista / Desarrollador en Drupal." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://media.licdn.com/dms/image/D4D03AQGReMtuYn4X5g/profile-displayphoto-shrink_800_800/0/1673342054402?e=2147483647&v=beta&t=PWzxHsw5TvjcEbgmmhZEvrA7Hiho2WAXEzRgmqjU26I" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="px-4">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {

	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
		
	}
</style>
